<%
	if ( typeof link !== "undefined" )
	{
		var navLink = link;
	}

	if ( typeof text !== "undefined" && text.length )
	{
		var navText = text;
	}

	var className = 'nav-item';

	// var current = ( current.source === navLink );

	if ( current.source === navLink )
	{
		className += ' nav-current';
		navText = '<span class="nav-item-text">' + navText + '</span>';
	}

	if ( current.source !== navLink )
	{
		navText = '<a class="nav-item-text" href="' +
		uri + '/' + navLink  + '">' + navText + '</a>';
	}
%>
<li class="<%= className; %>"><%-navText%></li>